
:root {
  --bg: linear-gradient(135deg, var(--fg) 0%, var(--card-1) 30%, var(--card-2) 60%, var(--card-3) 100%);;
  --fg: #ffffff;
  --card-1: #93d696;
  --card-2: #75c5c5;
  --card-3: #959fdf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Serif", sans-serif;
}


img {
  width: 100%;  
  height: auto;
 object-fit: cover;
}

h1 {
  font-size: 10rem;
  font-weight: 500;
  line-height: 1;
}

p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  background-color: var(--bg);
  color: var(--fg);
}



.intro,.outro {
text-align: center;
align-content: center;
}

.intro h1,
.outro h1 
{
width: 30%;
margin: 0 auto;
}


.sticky {
display: flex;
justify-content: center;
align-items: center;
}


.sticky-header {
position: absolute;
top: 5%;
left: 305;

transform: translateX(-50% , -50%);
}


.sticky-header h1 {
position: relative;
text-align: center;
font-size: 6rem;
will-change: transform, opacity ;
transform: translateY(80px);
opacity: 0;
}


.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;                 /* GSAP will animate this to 100px */
  width: 60%;
  margin: 0 auto;
  perspective: 1200px;
}


.card {
    position: relative;
    flex:  1;
    aspect-ratio:3.9/7;
    transform-style:preserve-3d ;
    transform-origin: top;

}

#card-1 {
border-radius: 20px 0 0 20px;}

#card-3 {
border-radius: 0 20px 20px 0;
}


.card-front,.card-back {
  position: absolute;
  width: 100%;
  height: 100%  ;
    backface-visibility: hidden;
        border-radius: inherit;
    overflow: hidden;


}



.card-back {
  display: flex;
  justify-content: center;
  align-items:center ;
  text-align: center;
  transform: rotateY(180deg);
  padding: 1rem;
}


.card-back span {
  position: absolute;
  top: 2rem;
  left: 2rem;
  opacity: 0.4;
}

.card-back p
{
  font-size: 2rem;
}

#card-1 .card-back {
  background-color: var(--card-1);

}

#card-2 .card-back {
  background-color: var(--card-2);
}

#card-3 .card-back {
  background-color: var(--card-3);
}


@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }

  .intro h1,
  .outro h1 {
    width: 100%;
  }

  .sticky {
    height: max-content;
    padding: 4rem 2rem;
    flex-direction: column;
  }



.sticky-header {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  margin-bottom: 4rem;
}

.sticky-header h1 {
  opacity: 1;
}

.card-container {
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}

.card {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 20px !important;
}

#card-1,
#card-2,
#card-3 ,
.card-back{
transform: none;}
}