

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Serif", sans-serif;
  background: transparent;
  font-weight: 500;
}


img {
  width: 100%;  
  height: 100%;
  background:transparent;
 object-fit: cover;
}

h1{
    font-size: 4rem;
    font-weight:900;
    letter-spacing: -0.15rem;
    line-height: 1.125;
    text-align: center;
}


.about
{
    position: relative;
    width: 100%;
    height: 100svh;
padding: 2rem;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;   
}


.services
{
    position: relative    ;
    width: 100%;
    height: 100svh;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    overflow: hidden;

}



.services-header
{
    position: relative;
    width: 100%;
    /* padding: 0 2rem; */
     background-color: #1a1a1a;    
  will-change:  transform;
}


.services-header img {
  object-fit: contain;
}

/* 1st and 3rd slides: start to the right */
.services-header:nth-child(1),
.services-header:nth-child(3) {
  transform: translateX(100%) translateY(0%);
}

/* 2nd slide: centered */
.services-header:nth-child(2) {
  transform: translateX(-100%) translateY(0%);
  z-index: 2;
}

.services-copy {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 155svh;
  padding: 2rem 2rem 25svh 2rem;
  text-align: center;
}

.animate-text {
  position: relative;
  font-size: 5rem;
  width: 100%;
  margin: 0 auto;
  color: #bbece8;
  --clip-value: 100%;
}



.animate-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  clip-path: inset(0 0 var(--clip-value) 0);
will-change: clip-path;
}




@media (max-width: 1000px) {
  h1 {
    font-size: 2rem;
    letter-spacing: -0.05rem;
  }

  .animate-text {
    width: 100%;
  }
}